@charset "utf-8";
h1 {
    color: red;
    background-color: pink;
    text-align: center;
    border-bottom: double 3px;
}
h2 {
    color: blue;
    background: skyblue;
}
ul {
    list-style-type: none;
}
/*li {*/
/*    margin-bottom: 5px;*/
/*    color: red;*/
/*}*/
.error {
    color: red;
}
.success {
    color: green;
    border-bottom: double 3px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* パソコン、タブレット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*タブレット 縦のみ	*/
@media screen and (max-width: 1024px) and (orientation: portrait){
    
}
/* タブレット 縦から */
@media screen and (max-width: 1024px){
    
}
/* スマホ 横のみ */
@media screen and (max-width: 896px) and (orientation: landscape){
    
}
/* スマホ 横から */ 
@media screen and (max-width: 896px){
    
}
/* スマホ　縦からは */
@media screen and (max-width: 480px){
    
}